<%= form_for [:admin, @container], :remote => true do |f| %>
<div id="errors" style="display: none"></div>
<table>
	<tr>
		<td class="label short">
			<%= f.label :name %>
		</td>
		<td class="select">
			<%= f.select :name, [['Bitte wählen', '']] + @containers.map { |c| [c[:name].camelcase, c[:name]] } %>
		</td>
	</tr>
	<tr>
		<td class="submit" colspan="2">
			<%= f.button t(:create), :class => 'button' %>
		</td>
	</tr>
</table>
<% end -%>
